.manage-review-container {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

.manage-header {
    color: #232f3e;
}

.manage-review-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    padding:50px 20px;
}

.delete-review-button {
    background-color: #f0c14b;
    cursor: pointer;
}

.update-review-button {
    background-color:  #f0c14b;
    cursor: pointer;
}
