.create-product-container{
    margin: 30px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-form{
    border: 1px solid lightgrey;
    border-radius: 15px;
    background-color: white;
    padding: 25px;
    width: 500px;
}


.description-field{
    width: 400px;
    height: 150px;
    padding: 10px;
    font-size: 16px;
}

.add-product-title{
    margin: 40px;
}
