.order-product-details img {
    max-width:200px;
    height: 180px;
}


.orders-container{
    margin: 50px 200px;
}


.order-details-bar{
    padding: 10px;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    margin-top: 5px;
}


.order-product-details{
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);


}

.block-divider{
    border: 1px solid lightgrey;
    width: 100%;
}

.order-block-1{

    padding: 10px;

    display: flex;
    gap: 25px;
}


.order-block-2{
    display: flex;
    height: 225px;
    padding: 10px;
}


.order-block-left{

}

.order-block-middle{
    width: 80%;
    margin: 25px;
}


.order-block-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: right; */

}

.order-block-right button{
    border-radius: 5px;
    border: 1px solid lightgray;
    width: 150px;
    height: 25px;
    margin: 5px 0px;
    cursor: url('../../assets/images/cheeseFinger.png'), pointer;
}

.product-name-link{
    text-decoration: none;
    color: rgb(0, 100, 131);

}

.product-description{
    height: 125px;
    padding-top: 10px;
}

.buy-again-button{
    background-color: #f0c14b;
    color:black;
    border-radius: 15px;
    border: none;
    cursor: url('../../assets/images/cheeseFinger.png'), pointer;

    height: 25px;
    width: 100px;
}

.return_button_hidden {
    display:none;
}
