@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.yourOrdersTitle{
    /* font-family: 'Pacifico', cursive; */
    color: gold;
    margin-bottom: 20px;
    font-size: 60px;

}

.orders-container{
    text-align: center;
    margin: 100px;

}

.orders-container a {
    color:#004683;
    text-decoration:none;
    font-size:20px
}

.orders-container a:hover{
    font-weight:bold;
}

.orders-container img {
    width:300px;
}

h4 {
    color: black;
    margin-bottom: 10px;
}

.howManyOrders {
    color: #232f3e;
    font-size: 20px;
}

#no-purchase {
    display:flex;
    flex-direction:column;
    align-items:center;

}


#orderButt {
    text-align: center;
    color: white;
    padding: 10px 20px;
    font-size:16px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    margin: 4px;
    border: none;
    background-color: #f0c14b;
    cursor: url('../../assets/images/cheeseFinger.png'), pointer;
    outline: none;
}

/* Apply common styles to all buttons with the same class */
/* .order-block-right button, */
.order-block-middle .buy-again-button,.return_button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    margin: 4px;
    border: none;
    background-color: #f0c14b;
    cursor: url('../../assets/images/cheeseFinger.png'), pointer;
    outline: none;
}

/* Ensure that the button is large enough to fit the text */
.order-block-right button,
.order-block-middle .buy-again-button {
    min-width: 150px;
    height: auto;
    white-space: nowrap;
    transition: background-color 0.3s ease;
}

.order-block-right button:hover,
.order-block-middle .buy-again-button:hover,
.return_button:hover {
    background-color: #ff9900;
    color: white;
}


.order-block-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-block-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

/* Apply flexbox to buttons to center text vertically */
/* .order-block-right button,
.order-block-middle .buy-again-button {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.return_button_hidden {
    display:none;
    text-align: center;
    color: white;
    padding: 10px 20px;
}

.return_button {
    text-align: center;
    color: white;
    padding: 10px 20px;
}
.hidden{
    display:none;
}
#no-purchase >h4 {
    font-weight:200;
    font-size:130%
}

#no-purchase button {
    height:50px;
}

#orders-container-media>p>span {
    color:#ff9900;
}
