@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Background image for the landing page */
.landing-page {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #333;
}

/* Main Title */
.main-title {
  text-align: center;
  color: gold;
  background-color: white;
  padding: 20px;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Carousel */

.image-header-landing {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px;
  width: 100%;
  /* background-color: red; */
  margin: 0;
}

/* .image-landing {
  height: 400px;
  width: 300px;
  background-color: blue;
} */

.jerry-img {
  /* margin-top: 550px;
  margin-left: 100px; */
  height: 200px;
  width: auto;
  /* background-color: grey; */
}

.tom-img {
  height: 500px;
  width: auto;
  /* background-color: grey; */
}

.product-carousel {
  /* text-align: center; */
  max-width: 50%;
  min-width: 250px;
  min-height: 20%;
  /* margin: 0px auto; */
  /* background-color: green; */
}

.product-carousel .legend {
  display: inline-block;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 0 auto;
}

.product-carousel img {
  max-width: 750px;
  max-height: 575px;
  object-fit: cover;
}

.product-carousel .thumb img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* Boxes Container */
.boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* Individual Box */
.box {
  width: calc(33.333% - 20px);
  /* width: 280px; */
  min-width: 280px;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  background-color: gold;
  cursor: url('../../assets/images/cheeseFinger.png'), pointer;
  font-family: 'Pacifico', cursive;
}

.box img {
  max-width: 200px;
  width: 200px;
  height: auto;
  border-radius: 15px;
  padding: 10px;
}

/* Hover effect for boxes */
.box:hover {
  background-color: #f0f0f0;
}

/* About Section */
.about-section {
  padding: 20px;
  text-align: center;
}

/* Footer */
.landing-page-footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}


.carousel .slide .legend a {
  text-decoration: none;
  color: #ffffff;
}

/* Hover effect for boxes */
.box:hover {
  background-color: #f0f0f0;
}

/* About Section */
.about-section {
  padding: 20px;
  text-align: center;
}

/* Footer */
.landing-page-footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}


.carousel .slide .legend a {
  text-decoration: none;
  color: #ffffff;
}

.carousel-wrapper {
  perspective: 1000px;
}

/* Active image styles */
.carousel .slide.selected {
  transform: translateX(0) scale(1);
  z-index: 2;
}

/* Left and right image styles */
.carousel .slide.left,
.carousel .slide.right {
  transform: scale(0.8);
  z-index: 1;
}

.carousel .slide.left {
  transform: translateX(-50%) scale(0.8);
}

.carousel .slide.right {
  transform: translateX(50%) scale(0.8);
}

.about-section {
  padding: 20px;
  text-align: center;
}

/* Footer */
.landing-page-footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}


.carousel .slide .legend a {
  text-decoration: none;
  color: #ffffff;
}


/* Hover effect for boxes */
.box:hover {
  background-color: #f0f0f0;
}

/* About Section */
/* .about-section {
  padding: 20px;
  text-align: center;
} */

/* Footer */
/* .landing-page-footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}


.carousel .slide .legend a {
  text-decoration: none;
  color: #ffffff;
} */

/* Media Queries for Responsive Design */
/* @media (max-width: 768px) {
  .box {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .box {
    width: 100%;
  }
} */