main {
    padding: 20px;
}

.product-square {
    display: flex;
    justify-content: space-between;
}

.product-left {
    width: 35%;
    overflow-y: scroll;
}

.product-right {
    width: 60%;
}

.product-left-outer-square {
    position: sticky;
    top: 40px;
}

.truck {
    width: 60%;
    height: auto;
    border-radius: 5px;
}

.memory {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-left-inner-square,
.product-right-inner-square {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: white;
}

.product-left-inner-square h1,
.product-right-inner-square h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product-right button {
    background-color: #235a81;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    cursor: url('../../assets/images/cheeseFinger.png'), pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.product-right button:hover {
    background-color: #032652;
}


.products-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.products-list>div {
    background-color: white;
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/* .products-list>div:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
} */

.product-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: transform 0.3s ease;
}

.products-list>div:hover .product-img {
  transform: scale(1.1);
}

.product-summary {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
}

.product-summary li {
    margin-bottom: 5px;
}

.product-ind-box button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 15px;
    cursor: url('../../assets/images/cheeseFinger.png'), pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

.product-ind-box button:hover {
    background-color: #3762ff;
}

.product-ind-box {
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: white;
}

.product-ind-box a {
    text-decoration: none;
    color: #131a22;
    display: flex;
    flex-direction: column;
}

.product_hidden img{
    filter:grayscale(1);
    filter:blur(1);
}

.out-of-stock {
    margin-left:10px;
}

.out-of-stock>p {
    color:red;
}

.product-square button {
    background-color:#f0c14b;
    color:black;
}

.product-square button:hover {
    background-color:#FF9900;
    color:white;
}

#breadcrumb-padding {
    margin-bottom:10px;
    margin-top:10px;
}

.no-results a {
    color:#ff9900;
    text-decoration:none;
}
.no-results {
    font-weight:200;
    font-size:40px;
    padding-top:10px;
}
.no-results button {
    color:#ff9900;
    border:none;
    font-size:40px;
}

@media screen and (max-width:430px) {
    .products-list>div {
        width:45%;
    }
    .products-list {
        gap:5px;
    }
    #review-details {
        min-height:40px;
    }
}

@media screen and (max-width:950px) {
    #name-details {
        min-height:40px;
    }
}


.product-right-inner-square span {
    color:#ff9900;
}
