.create-review-container{
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

.h1Review{
    margin-top: 25px;
    margin-bottom: 25px;
}

.create-review-field{
    width: 600px;
}

.review-rating-input{
    width: 35px;
}

.review-input{
    width: 100%;
}

.review-content-input{
    height: 250px;
}