@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.create-review-container{
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

.h1Review{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: goldenrod;
    font-size: 40px;
}

.create-review-field{
    width: 600px;
    height: 600px;
    padding: 20px;
}

.review-rating-input{
    width: 35px;
}

.review-input{
    width: 100%;
}

.review-content-input{
    height: 250px;
    padding:5px;
}

.create-review-field img {
    width:150px;
    margin-left:100px;
}
