.shopping-cart img {
    max-width:200px;
    min-width:200px;
    min-height:175px;
    max-height:175px;

}


.shopping-cart{
    margin: 10px 100px;
    display:flex;
    flex-direction:row;

    justify-content: center;
    align-items: center;
}

.shoppingcart-h2{
    margin: 50px 50px;
}

.cart-container{
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-top: 25px;
}



.transaction-details{
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 15px;

}

.transaction-details>div {
    margin:5px;
}

.transaction-container {
    padding-left:30px;
    padding-top:25px;
}




.cart-block-1{
    padding: 10px;

    display: flex;
    gap: 25px;

}

.cart-block-2{
    display: flex;
    height: 200px;
    padding: 10px;
}



.cart-block-middle{
    width: 80%;
    margin: 25px;
}

.cart-block-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: right; */
}

.cart-block-right button{
    border-radius: 5px;
    border: 1px solid lightgray;
    width: 150px;
    height: 25px;
    margin: 5px 0px;
    cursor: pointer;
}

.complete-transaction-button{
    border-radius: 10px;
    border: 1px solid lightgrey;
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin-top: 10px;

}

.complete-transaction-button:hover {
    border: bold;
    background-color: #FF9900;
    font-weight: bold;
}


#stock_info {
    color:#FF9900
}


.empty-cart{
    margin: 30px;
}

.empty-cart-link{
    text-decoration: none;
    color: rgb(0, 100, 131);
}

.empty-cart-container{
    margin: 30px;
}
