.wishlist-title {
  margin: 50px 60px;
}



.wishlist-container {

  margin: 50px;
  margin-top:30px;
  padding: 50px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.wishlist-subtitle{
  font-size: 16px;
  margin: 35px;
  margin-bottom:0px;
  margin-left: 100px;
  font-weight: bold;
  font-style: italic;
}



.wishlist-items{
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  display: flex;
  justify-content: center;
  flex-wrap:wrap;

}


.wishlist-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #eaeaea;

  width: 300px;
  align-items: center;

}


.wishlist-item:last-child {
  border-bottom: none;
}



.wishlist-item h3 {
  font-size: 18px;
  color: rgb(0, 100, 131);
  margin-bottom: 5px;
}

.wishlist-item p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.wishlist-item-description{
  height: 110px;
  padding: 10px;
  overflow: auto;
  margin-bottom:10px;
}


.wishlist-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wishlist-img{
  height: 250px;
  width: 250px;
}

.wishlist-button-divider{
  width: 100%;
  border: 1px solid rgb(240, 240, 240);
  margin: 15px 0;
}

/* Buttons styles */
.wishlist-item button {
  padding: 4px 10px;
  font-size: 14px;
  background-color:#f0c14b;
  color:black;
  border: none;
  border-radius: 4px;
  cursor: url('../../assets/images/cheeseFinger.png'), pointer;
  width: 180px;
}

.wishlist-item button:hover {
  background-color:#FF9900;
  color:white;
}

#disabled_button:hover {
  /* background-color: #0056b3; */
  background-color:rgb(235, 235, 235);
  cursor:not-allowed;
}

/* Layout for buttons */
.wishlist-item-actions {
  display: flex;
}
